EXPO_PUBLIC_API_URL=http://localhost:3001
EXPO_PUBLIC_YANDEX_MAPKIT_API_KEY=
EXPO_PUBLIC_SHOW_APP_VERSION=false

YANDEX_POSTGRES_HOST=rc1b-b6s6g06sen2ns5f1.mdb.yandexcloud.net
YANDEX_POSTGRES_PORT=6432
YANDEX_POSTGRES_DB=musorok
YANDEX_POSTGRES_USER=musorok_app
YANDEX_POSTGRES_PASSWORD=
YANDEX_POSTGRES_SSL_REJECT_UNAUTHORIZED=true
YANDEX_POSTGRES_CA_CERT=
YANDEX_POSTGRES_CA_CERT_PATH=
YANDEX_POSTGRES_CONNECTION_TIMEOUT_MS=5000
YANDEX_POSTGRES_STATEMENT_TIMEOUT_MS=15000
YANDEX_POSTGRES_QUERY_TIMEOUT_MS=20000
API_ENV=development
API_ALLOWED_ORIGINS=
API_AUTH_SECRET=
API_ADMIN_TOKEN=
AUTH_SMS_CODE_TTL_MINUTES=10
AUTH_SMS_MAX_ATTEMPTS=5
AUTH_SMS_MAX_SENDS_PER_WINDOW=5
AUTH_SMS_SEND_WINDOW_MINUTES=15
AUTH_TOKEN_TTL_DAYS=180
AUTH_SMS_DEBUG_CODE_ENABLED=true
EXPO_PUSH_TIMEOUT_MS=10000

YANDEX_CNS_ENDPOINT=https://notifications.yandexcloud.net
YANDEX_CNS_REGION=ru-central1
YANDEX_CNS_ACCESS_KEY_ID=
YANDEX_CNS_SECRET_ACCESS_KEY=
YANDEX_CNS_SMS_SENDER_ID=
YANDEX_CNS_SMS_TIMEOUT_MS=10000

TBANK_ACQUIRING_API_URL=https://rest-api-test.tinkoff.ru/v2
TBANK_ACQUIRING_TERMINAL_KEY=
TBANK_ACQUIRING_PASSWORD=
TBANK_ACQUIRING_PAY_TYPE=O
TBANK_ACQUIRING_TIMEOUT_MS=15000
TBANK_ACQUIRING_NOTIFICATION_URL=
TBANK_ACQUIRING_SUCCESS_URL=musorok://order/payment-return?result=success
TBANK_ACQUIRING_FAIL_URL=musorok://order/payment-return?result=fail
MAX_ORDER_TIP_RUBLES=1000

API_PORT=3001
